FontEnd/static/carousel1-removebg-preview.png
FontEnd/static/carousel2-removebg-preview.png
FontEnd/static/carousel3-removebg-preview.png
BackEnd/venv/
BackEnd/__pycache__/
BackEnd/app/__pycache__/
BackEnd/app/routes/__pycache__/
